body{
    background-color: rgb(97, 209, 207);
    width: 100%;
    height: 100%;
}
h1{
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.h2class{
    color: #e5ff00;
}
.highlight{
    color: red;
}