body{
    background-color: rgb(54, 46, 46);
    width: 100%;
    height: 100%;
}

h1{
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

#upperp{
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
}

#seldevice{
    color: #ffffff;
    font-size: 25px;
}
#main ,#main2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
h2{
    color: white;
    font-size: 10rem;
}

#fileinp{
    display: none;
}

#btn{
    padding: 12px 22px;
    background-color: rgb(41, 143, 114);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

#main2 #btn:hover{
    background-color:rgb(41, 95, 80) ;
}

 input{
    display: block;
    margin: 2px;
 }
 

#main3{
    padding: 20px;
}
.card {
  max-width: 300px;
  color: #fff;
  margin-top: 40px;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  border: 1px solid #555;
}
 .profile {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 0px;
    overflow: hidden;
}

.imgcard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h3card{
    margin-bottom: 7px;
}
.h5card {
    margin: 0px;
}
.pcard {
    font-size: 12px;
    margin-top: 7px;
}

#main4{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
}

ul{
    margin: 10px;
    margin-top: 250px;
}
li{
    color: white;
}
.lt{
        text-decoration: line-through;
}